.footer {
  position: relative;
  z-index: 1;

  padding-top: 69px;
  padding-bottom: 77px;

  background-color: $dark-100;

  @include respond-to(lg) {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    opacity: .25;
    background-image: url('../assets/imgs/footer-bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 1440px;

    @include respond-to(md) {
      background-size: cover;
      background-position: 60% 100%;
    }
  }

  &__lang-switch .lang-switch {
    &__item:first-of-type {
      padding-left: 0;
    }
  }

  &__form {
    & .form__heading {
      margin-bottom: 45px;
    }
  }

  &__paragraph {
    margin: 0;
    padding-left: 97px;
    padding-top: 22px;

    @include respond-to(md) {
      padding-left: 0;
      padding-top: 0;
      margin-bottom: 50px;
      text-align: center;
    }

    &-line {
      display: block;
      font-size: 16px;
      line-height: 36px;

      @include respond-to(md) {
        display: inline;
      }
    }

    &-icon {
      display: block;
      height: 67px;
      width: 51px;
      background-image: url('../assets/imgs/footer-icon-shield.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto;
      margin-bottom: 25px;

      @include respond-to(md) {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  &__block {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;

    margin-top: 103px;

    @include respond-to(sm) {
      margin-top: 50px;
    }
  }

  &__copyright {
    font-size: 16px;
  }
}
