.jumbo {
  position: relative;
  z-index: 1;

  margin-top: -77px;
  padding-top: 145px;
  padding-bottom: 173px;

  background-color: $dark-100;

  @include respond-to(md) {
    padding-top: 150px;
    padding-bottom: 75px;
  }

  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    opacity: .4;
    background-image: url('../assets/imgs/jumbo-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1440px;

    @include respond-to(lg) {
      background-size: cover;
    }
  }

  &__heading {
    max-width: 465px;
    margin-bottom: 28px;

    @include respond-to(md) {
      margin-bottom: 45px;
    }
  }

  &__equation {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    margin: 0 0 13px;

    font-size: 17px;
    font-weight: bold;

    &-item {
      display: inline-flex;
      flex-flow: column nowrap;

      margin-right: 20px;
      margin-left: 20px;
      padding: 19px;

      background-color: rgba(white, .1);

      &:last-of-type {
        margin-right: 0;
      }

      &:first-of-type {
        margin-left: 0;
      }
    }

    &-line {
      font-size: 18px;
      font-weight: normal;
      line-height: 100%;

      &:first-of-type {
        text-transform: capitalize;
      }

      &--emphasis {
        font-size: 46px;
        line-height: 129%;
      }
    }
  }

  &__list {
    max-width: 455px;
    margin: 0;
    padding: 19px 0 0 22px;

    list-style: none;

    line-height: 1.6;

    @include respond-to(md) {
      margin-bottom: 45px;
    }

    &-item {
      position: relative;

      &:not(:last-of-type) {
        margin-bottom: 15px;
      }

      &:before {
        position: absolute;
        top: 12px;
        left: -20px;

        width: 6px;
        height: 6px;

        content: '';

        border-radius: 100%;
        background-color: white;
      }

      &--note:after {
        content: ' *';
      }
    }
  }

  &__note {
    max-width: 513px;
    font-size: 14px;
    line-height: 30px;
    position: relative;

    @include respond-to(md) {
      max-width: 100%;
    }

    &:before {
      content: '* ';
      position: absolute;
      left: -10px;
      top: -2px;
    }

    &-line {
      display: block;
    }
  }
}
