.ordered-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;

  list-style: none;

  &__counter {
    counter-increment: index;
    position: relative;

    &:before {
      position: absolute;

      display: flex;
      align-items: center;
      flex-flow: row nowrap;
      justify-content: center;

      min-width: 35px;
      min-height: 35px;
      padding: 7px 12px;

      content: counter(index);

      color: white;
      background-color: $contrast;

      font-family: $ff-sans;
      font-size: 18px;
      line-height: 100%;
    }
  }
}
