.project-card {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;

  box-sizing: border-box;
  max-width: 255px;
  min-height: 232px;
  padding: 33px;

  background-color: white;
  box-shadow: 0 0 10.7px 5.3px rgba(208, 215, 222, 0.19);

  @include respond-to(md) {
    margin: 10px 0;
  }

  @include respond-to(xs) {
    margin-left: auto;
    margin-right: auto;
  }

  &__img-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;

    &--align {
      &--top {
        align-items: flex-start;
      }
    }
  }

  &__logotype {
    max-width: 100%;

    &--richbit {
      margin-top: 20px;
    }
  }

  &__link {
    display: inline-block;

    text-align: center;
    text-decoration: none;

    color: $contrast;

    font-family: $ff-sans;
    font-size: 18px;
    font-weight: bold;
    line-height: 100%;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: darken($contrast, 20%);
    }
  }
}
