@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: bold;
  src: local('Circe Bold'), local('Circe-Bold'), url('../assets/fonts/Circe-Bold.woff') format('woff');
}

@import './variables.scss';

/* A base styles */

body {
  margin: 0;
  min-width: 550px;
}

.heading {
  margin: 0;

  color: white;

  font-family: $ff-circe;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.41;
}

.text {
  margin: 0;

  letter-spacing: 0.05px;

  color: white;

  font-family: $ff-sans;
  font-size: 20px;
  line-height: 100%;
}


/* End of A base styles */

@import './blocks/base.scss';
