<!doctype html>
<html class="no-js" lang="{{lang}}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/vendor/bootstrap-grid.min.css">
  <link rel="stylesheet" href="css/main.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124716796-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-124716796-1');
  </script>
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <header class="container-fluid header">
    <div class="container">
      <div class="row header__content">
        <div class="col-9 header__block">
          <p class="text">
            {{header_paragraph}}
          </p>
        </div>
        <div class="col-3 header__block header__block--align--right">
          <ul class="lang-switch header__lang-switch">
            <li class="lang-switch__item">
              <a href="index.html" class="lang-switch__link{{ ' lang-switch__link--active' if lang == 'ru'}}">Ru</a>
            </li>

            <li class="lang-switch__item">
              <a href="en.index.html" class="lang-switch__link{{ ' lang-switch__link--active' if lang == 'en'}}">Eng</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid jumbo">
    <div class="container">
      <div class="row">
        <h1 class="col-12 heading jumbo__heading">
          {{jumbo_heading}}
        </h1>

        <div class="col-12">
          <p class="jumbo__equation text">
            <span class="jumbo__equation-item">
              <span class="jumbo__equation-line">{{ jumbo_equation_line_1 }} </span>
              <span class="jumbo__equation-line jumbo__equation-line--emphasis">> 90% </span>
              <span class="jumbo__equation-line">{{ jumbo_equation_line_2 }} </span>
            </span>{{ jumbo_equation_line_3 }}
            <span class="jumbo__equation-item">
              <span class="jumbo__equation-line">{{ jumbo_equation_line_4 }} </span>
              <span class="jumbo__equation-line jumbo__equation-line--emphasis">> 400% </span>
              <span class="jumbo__equation-line">{{ jumbo_equation_line_5 }} </span>
            </span>
          </p>
        </div>

        <div class="col-12 col-lg-6">
          <ul class="jumbo__list text">
            <li class="jumbo__list-item jumbo__list-item--note">{{ jumbo_list_item_1 }}</li>
            <li class="jumbo__list-item">{{ jumbo_list_item_2 }}</li>
            <li class="jumbo__list-item">{{ jumbo_list_item_3 }}</li>
          </ul>
        </div>

        <div class="col-12 col-lg-6">
          <p class="jumbo__note text">
            <span class="jumbo__note-line">{{ jumbo_note_part_1 }} </span>{{ jumbo_note_part_2 }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid main-info">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form data-form="first" target="_blank" action="//juryonline.flowlu.com/api/v1/module/crm/lead/create?api_key=Y2tXUHN4VkJCbnc3SGJqNXBlSUdZb2tnQ3JyYlF3WGVfMjEyODA" method="POST" class="form main-info__form">
            <input type="text" hidden value="3" name="pipeline_id">

            <p class="text form__heading">
              {{ main_info_form_heading }}
            </p>

            <p class="text form__paragraph">
              <span class="form__paragrap-line">
                {{ main_info_form_paragraph_line_1 }}
              </span>

              <span class="form__paragrap-line">
                {{ main_info_form_paragraph_line_2 }}
              </span>

              <span class="form__paragrap-line">
                {{ main_info_form_paragraph_line_3 }}
              </span>
            </p>

            <ul class="form__inputs" method="post">
              <li class="form__inputs-item input-group">
                <label class="input-group__label">
                  <input type="text" class="input-group__input input-group__input" name="name" placeholder="{{ form_placeholder_name }}" required>
                </label>
              </li>

              <li class="form__inputs-item input-group">
                <label class="input-group__label">
                  <input type="email" class="input-group__input input-group__input--email" name="contact_email" placeholder="{{ form_placeholder_email }}" required>
                </label>
              </li>

              <li class="form__inputs-item input-group">
                <label class="input-group__label">
                  <input type="tel" class="input-group__input input-group__input--phone" name="contact_phone" placeholder="{{ form_placeholder_tel }}" required>
                </label>
              </li>

              <li class="form__inputs-item input-group">
                <label class="input-group__label">
                  <textarea class="input-group__input input-group__input--comment" name="closing_comment" placeholder="{{ form_placeholder_comment }}"></textarea>
                </label>
              </li>

              <li class="form__inputs-item">
                <button class="form__submit" type="submit" value="submit" type="submit" value="submit" data-status="regular" data-regular="{{ form_submit }}" data-pending="{{ form_pending }}" data-success="{{ form_success }}"  data-fail="{{ form_fail }}">{{ form_submit }}</button>
              </li>
            </ul>
          </form>
        </div>
      </div>

      <ul class="row projects justify-content-end ordered-list">
        <li class="col-12 col-lg-6 projects__row--one">
          <p class="text text--dark projects__paragraph">
            {{ project_paragraph }}
          </p>
        </li>

        <li class="col-12 col-sm-6 col-md-4 col-lg-3 ordered-list__counter">
          <div class="projects__card project-card">
            <div class="project-card__img-container">
              <img class="project-card__logotype" src="assets/imgs/projects-logo-kvantor.png" alt="Kvantor Logotype" width="171" height="29">
            </div>

            <a href="//panel.jury.online/?utm_source=investcampaign" class="project-card__link">{{ projects_learn_more }}</a>
          </div>
        </li>

        <li class="col-12 col-sm-6 col-md-4 col-lg-3 ordered-list__counter">
          <div class="projects__card project-card">
            <div class="project-card__img-container project-card__img-container--align--top">
              <img class="project-card__logotype project-card__logotype--richbit" src="assets/imgs/projects-logo-richbit.png" alt="Richbit Logotype" width="168" height="92">
            </div>

            <a href="//panel.jury.online/?utm_source=investcampaign" class="project-card__link">{{ projects_learn_more }}</a>
          </div>
        </li>

        <li class="col-12 col-sm-6 col-md-4 col-lg-3 ordered-list__counter">
          <div class="projects__card project-card">
            <div class="project-card__img-container">
              <img class="project-card__logotype" src="assets/imgs/projects-logo-endo.png" alt="Endo Logotype" width="148" height="79">
            </div>

            <a href="//panel.jury.online/?utm_source=investcampaign" class="project-card__link">{{ projects_learn_more }}</a>
          </div>
        </li>

        <li class="col-12 col-sm-6 col-md-4 col-lg-3 ordered-list__counter">
          <div class="projects__card project-card">
            <div class="project-card__img-container">
              <img class="project-card__logotype" src="assets/imgs/projects-logo-gridex.png" alt="Gridex Logotype" width="185" height="40">
            </div>

            <a href="//panel.jury.online/?utm_source=investcampaign" class="project-card__link">{{ projects_learn_more }}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="container-fluid how-it-works">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-7">
          <h2 class="heading how-it-works__heading">{{ how_it_works_heading }}</h2>
          <div class="how-it-works__img"></div>
        </div>

        <div class="col-12 col-md-5">
          <ul class="ordered-list how-it-works__list">
            <li class="ordered-list__counter how-it-works__list-item">
              <h3 class="text how-it-works__list-heading">{{ how_it_works_list_item_1_heading }}</h3>
              <p class="text how-it-works__paragraph">
                {{ how_it_works_list_item_1_paragraph }}
              </p>
            </li>

            <li class="ordered-list__counter how-it-works__list-item">
              <h3 class="text how-it-works__list-heading">{{ how_it_works_list_item_2_heading }}</h3>
              <p class="text how-it-works__paragraph">
                {{ how_it_works_list_item_2_paragraph }}
              </p>
            </li>

            <li class="ordered-list__counter how-it-works__list-item">
              <h3 class="text how-it-works__list-heading">{{ how_it_works_list_item_3_heading }}</h3>
              <p class="text how-it-works__paragraph">
                {{ how_it_works_list_item_3_paragraph }}
              </p>
            </li>

            <li class="ordered-list__counter how-it-works__list-item">
              <h3 class="text how-it-works__list-heading">{{ how_it_works_list_item_4_heading }}</h3>
              <p class="text how-it-works__paragraph">
                {{ how_it_works_list_item_4_paragraph }}
              </p>
            </li>

            <li class="ordered-list__counter how-it-works__list-item">
              <h3 class="text how-it-works__list-heading">{{ how_it_works_list_item_5_heading }}</h3>
              <p class="text how-it-works__paragraph">
                {{ how_it_works_list_item_5_paragraph }}
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid features">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="heading features__heading">{{ features_heading }}</h2>
        </div>

        <div class="col-12">
          <ul class="features__list">
            <li>
              <p class="feature features__item">
                <span class="feature__icon feature__icon--validation"></span>
                <span class="feature__heading">{{ features_list_item_1_heading }} </span>
                <span class="feature__line">{{ features_list_item_1_line_1 }} </span>
                <span class="feature__line">{{ features_list_item_1_line_2 }}</span>
              </p>
            </li>

            <li>
              <p class="feature features__item">
                <span class="feature__icon feature__icon--meeting"></span>
                <span class="feature__heading">{{ features_list_item_2_heading }} </span>
                <span class="feature__line">{{ features_list_item_2_line_1 }} </span>
                <span class="feature__line">{{ features_list_item_2_line_2 }} </span>
                <span class="feature__line">{{ features_list_item_2_line_3 }}</span>
              </p>
            </li>

            <li>
              <p class="feature features__item">
                <span class="feature__icon feature__icon--responsibility"></span>
                <span class="feature__heading">{{ features_list_item_3_heading }} </span>
                <span class="feature__line">{{ features_list_item_3_line_1 }} </span>
                <span class="feature__line">{{ features_list_item_3_line_2 }} </span>
                <span class="feature__line">{{ features_list_item_3_line_3 }} </span>
                <span class="feature__line">{{ features_list_item_3_line_4 }}</span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 order-2 order-lg-0">
          <form data-form="second" target="_blank" action="//juryonline.flowlu.com/api/v1/module/crm/lead/create?api_key=Y2tXUHN4VkJCbnc3SGJqNXBlSUdZb2tnQ3JyYlF3WGVfMjEyODA" method="POST" class="form footer__form">
            <input type="text" hidden value="3" name="pipeline_id">

            <p class="text form__heading">
              <span class="form__paragraph-line">{{ footer_heading_line_1 }} </span>
              <span class="form__paragraph-line">{{ footer_heading_line_2 }}</span>
            </p>

            <ul class="form__inputs" method="post">
              <li class="form__inputs-item input-group">
                <label class="input-group__label">
                  <input type="text" class="input-group__input input-group__input" name="name" placeholder="{{ form_placeholder_name }}" required>
                </label>
              </li>

              <li class="form__inputs-item input-group">
                <label class="input-group__label">
                  <input type="email" class="input-group__input input-group__input--email" name="contact_email" placeholder="{{ form_placeholder_email }}" required>
                </label>
              </li>

              <li class="form__inputs-item input-group">
                <label class="input-group__label">
                  <input type="tel" class="input-group__input input-group__input--phone" name="contact_phone" placeholder="{{ form_placeholder_tel }}" required>
                </label>
              </li>

              <li class="form__inputs-item input-group">
                <label class="input-group__label">
                  <textarea class="input-group__input input-group__input--comment" name="closing_comment" placeholder="{{ form_placeholder_comment }}"></textarea>
                </label>
              </li>

              <li class="form__inputs-item">
                <button class="form__submit" type="submit" value="submit" data-status="regular" data-pending="{{ form_pending }}" data-success="{{ form_success }}"  data-fail="{{ form_fail }}">{{ form_submit }}</button>
              </li>
            </ul>
          </form>
        </div>

        <div class="col-12 col-lg-6">
          <p class="footer__paragraph">
            <span class="footer__paragraph-icon"></span>
            <span class="text footer__paragraph-line">{{ footer_paragraph_line_1 }} </span>
            <span class="text footer__paragraph-line">{{ footer_paragraph_line_2 }} </span>
            <span class="text footer__paragraph-line">{{ footer_paragraph_line_3 }} </span>
            <span class="text footer__paragraph-line">{{ footer_paragraph_line_4 }}</span>
          </p>
        </div>

        <div class="col-12 footer__block order-3">
          <ul class="lang-switch footer__lang-switch">
            <li class="lang-switch__item">
              <a href="index.html" class="lang-switch__link{{ ' lang-switch__link--active' if lang == 'ru'}}">Ru</a>
            </li>

            <li class="lang-switch__item">
              <a href="en.index.html" class="lang-switch__link{{ ' lang-switch__link--active' if lang == 'en'}}">Eng</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript" src="js/main.js"></script>
</body>

</html>
