@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: bold;
  src: local("Circe Bold"), local("Circe-Bold"), url("../assets/fonts/Circe-Bold.woff") format("woff"); }

/* A base styles */
body {
  margin: 0;
  min-width: 550px; }

.heading {
  margin: 0;
  color: white;
  font-family: "Circe", sans-serif;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.41; }

.text {
  margin: 0;
  letter-spacing: 0.05px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 100%; }

/* End of A base styles */
.lang-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }
  .lang-switch__item {
    padding: 5px 14px;
    position: relative; }
    .lang-switch__item:not(:last-of-type):before {
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 15px;
      content: '';
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      background-color: white; }
  .lang-switch__link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 100%; }
    .lang-switch__link:hover {
      text-decoration: underline; }
    .lang-switch__link:active {
      -webkit-transform: translateY(-1px);
              transform: translateY(-1px);
      color: #f9c290; }
    .lang-switch__link--active {
      color: #f6a760;
      font-weight: bold; }
      .lang-switch__link--active:active {
        color: rgba(255, 255, 255, 0.25); }

.input-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-shadow: 0 0 32.8px 16.2px rgba(38, 46, 57, 0.14);
          box-shadow: 0 0 32.8px 16.2px rgba(38, 46, 57, 0.14); }
  .input-group__input {
    width: 100%;
    border: none;
    resize: none;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 16px;
    line-height: 100%;
    font-family: "Open Sans", sans-serif; }
    .input-group__input:focus::-webkit-input-placeholder {
      font-size: 0; }
    .input-group__input:focus:-ms-input-placeholder {
      font-size: 0; }
    .input-group__input:focus::-ms-input-placeholder {
      font-size: 0; }
    .input-group__input:focus::placeholder {
      font-size: 0; }
    .input-group__input::-webkit-input-placeholder {
      opacity: 1;
      color: #262e39; }
    .input-group__input:-ms-input-placeholder {
      opacity: 1;
      color: #262e39; }
    .input-group__input::-ms-input-placeholder {
      opacity: 1;
      color: #262e39; }
    .input-group__input::placeholder {
      opacity: 1;
      color: #262e39; }
    .input-group__input--comment {
      min-height: 101px; }

.form {
  display: block;
  margin: auto;
  background-color: #262e39;
  width: 540px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 32px 65px 50px;
  -webkit-box-shadow: 0 0 32.8px 16.2px rgba(38, 46, 57, 0.14);
          box-shadow: 0 0 32.8px 16.2px rgba(38, 46, 57, 0.14); }
  @media (max-width: 767.98px) {
    .form {
      width: 100%; } }
  @media (max-width: 575.98px) {
    .form {
      padding: 30px 15px 40px; } }
  .form__paragraph {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.71;
    margin: 0;
    margin-bottom: 35px;
    text-align: center; }
    .form__paragraph-line {
      display: block; }
  .form__heading {
    margin: 0;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    font-weight: bold; }
  .form__inputs {
    padding: 0;
    margin: 0;
    list-style: none; }
    .form__inputs-item:not(:last-of-type) {
      margin-bottom: 20px; }
  .form__submit {
    display: inline-block;
    width: 100%;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 100%;
    background-color: #f6a760;
    border: none;
    cursor: pointer;
    background-position: 0; }
    .form__submit:hover {
      background-color: #f38c30; }
    .form__submit:active {
      background-color: #e3720d; }

@-webkit-keyframes pending {
  0% {
    background-position: -29px; }
  100% {
    background-position: 0; } }

@keyframes pending {
  0% {
    background-position: -29px; }
  100% {
    background-position: 0; } }
    .form__submit--pending {
      background-image: repeating-linear-gradient(45deg, #e3720d, #e3720d 10px, #f38c30 10px, #f38c30 20px);
      background-position: 0;
      background-size: 200%;
      -webkit-animation-name: pending;
              animation-name: pending;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
    .form__submit--disabled {
      background-color: #879599;
      opacity: .6; }
      .form__submit--disabled:hover {
        background-color: #879599;
        color: white;
        cursor: not-allowed; }

.ordered-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  list-style: none; }
  .ordered-list__counter {
    counter-increment: index;
    position: relative; }
    .ordered-list__counter:before {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      min-width: 35px;
      min-height: 35px;
      padding: 7px 12px;
      content: counter(index);
      color: white;
      background-color: #f6a760;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      line-height: 100%; }

.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 255px;
  min-height: 232px;
  padding: 33px;
  background-color: white;
  -webkit-box-shadow: 0 0 10.7px 5.3px rgba(208, 215, 222, 0.19);
          box-shadow: 0 0 10.7px 5.3px rgba(208, 215, 222, 0.19); }
  @media (max-width: 991.98px) {
    .project-card {
      margin: 10px 0; } }
  @media (max-width: 575.98px) {
    .project-card {
      margin-left: auto;
      margin-right: auto; } }
  .project-card__img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .project-card__img-container--align--top {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
  .project-card__logotype {
    max-width: 100%; }
    .project-card__logotype--richbit {
      margin-top: 20px; }
  .project-card__link {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #f6a760;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 100%; }
    .project-card__link:hover {
      text-decoration: underline; }
    .project-card__link:active {
      color: #e3720d; }

.feature {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 40px 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0;
  text-align: center;
  height: 100%; }
  @media (max-width: 1199.98px) {
    .feature {
      display: block;
      padding-right: 15px;
      padding-left: 15px; } }
  .feature__heading {
    font-family: "Open Sans", sans-serif;
    display: block;
    color: #262e39;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 9px; }
  .feature__line {
    font-family: "Open Sans", sans-serif;
    display: block;
    color: #262e39;
    font-size: 16px;
    line-height: 1.88; }
    @media (max-width: 1199.98px) {
      .feature__line {
        display: inline; } }
  .feature__icon {
    display: block;
    height: 165px;
    margin-bottom: 30px;
    background-size: auto;
    background-repeat: no-repeat; }
    .feature__icon--validation {
      background-image: url("../assets/imgs/features-icon-validation.png");
      background-position: calc(50% - 5px) bottom; }
    .feature__icon--meeting {
      background-image: url("../assets/imgs/features-icon-meeting.png");
      background-position: center bottom; }
    .feature__icon--responsibility {
      background-image: url("../assets/imgs/features-icon-responsibility.png");
      background-position: center bottom; }

.header {
  min-height: 77px;
  background-color: rgba(244, 244, 246, 0.05);
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header__content {
    height: 100%; }
  .header__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .header__block--align--right {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }

.jumbo {
  position: relative;
  z-index: 1;
  margin-top: -77px;
  padding-top: 145px;
  padding-bottom: 173px;
  background-color: #262e39; }
  @media (max-width: 991.98px) {
    .jumbo {
      padding-top: 150px;
      padding-bottom: 75px; } }
  .jumbo:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .4;
    background-image: url("../assets/imgs/jumbo-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1440px; }
    @media (max-width: 1199.98px) {
      .jumbo:before {
        background-size: cover; } }
  .jumbo__heading {
    max-width: 465px;
    margin-bottom: 28px; }
    @media (max-width: 991.98px) {
      .jumbo__heading {
        margin-bottom: 45px; } }
  .jumbo__equation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    margin: 0 0 13px;
    font-size: 17px;
    font-weight: bold; }
    .jumbo__equation-item {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      margin-right: 20px;
      margin-left: 20px;
      padding: 19px;
      background-color: rgba(255, 255, 255, 0.1); }
      .jumbo__equation-item:last-of-type {
        margin-right: 0; }
      .jumbo__equation-item:first-of-type {
        margin-left: 0; }
    .jumbo__equation-line {
      font-size: 18px;
      font-weight: normal;
      line-height: 100%; }
      .jumbo__equation-line:first-of-type {
        text-transform: capitalize; }
      .jumbo__equation-line--emphasis {
        font-size: 46px;
        line-height: 129%; }
  .jumbo__list {
    max-width: 455px;
    margin: 0;
    padding: 19px 0 0 22px;
    list-style: none;
    line-height: 1.6; }
    @media (max-width: 991.98px) {
      .jumbo__list {
        margin-bottom: 45px; } }
    .jumbo__list-item {
      position: relative; }
      .jumbo__list-item:not(:last-of-type) {
        margin-bottom: 15px; }
      .jumbo__list-item:before {
        position: absolute;
        top: 12px;
        left: -20px;
        width: 6px;
        height: 6px;
        content: '';
        border-radius: 100%;
        background-color: white; }
      .jumbo__list-item--note:after {
        content: ' *'; }
  .jumbo__note {
    max-width: 513px;
    font-size: 14px;
    line-height: 30px;
    position: relative; }
    @media (max-width: 991.98px) {
      .jumbo__note {
        max-width: 100%; } }
    .jumbo__note:before {
      content: '* ';
      position: absolute;
      left: -10px;
      top: -2px; }
    .jumbo__note-line {
      display: block; }

.main-info {
  position: relative;
  z-index: 2;
  background-color: #f1f6f9;
  padding-top: 100px;
  padding-bottom: 165px;
  background-image: url("../assets/imgs/bg-main-info.png");
  background-repeat: repeat-y;
  background-position: 0 0;
  background-size: 401px 27px; }
  @media (max-width: 991.98px) {
    .main-info {
      padding-bottom: 100px; } }
  .main-info__form {
    margin-top: -220px;
    margin-bottom: 113px; }
    @media (max-width: 991.98px) {
      .main-info__form {
        margin-top: 0; } }

.projects__row--one {
  min-height: 260px; }
  @media (max-width: 991.98px) {
    .projects__row--one {
      min-height: 0;
      margin-bottom: 25px; } }

.projects .ordered-list__counter:before {
  top: 16px;
  left: 29px; }
  @media (max-width: 1199.98px) {
    .projects .ordered-list__counter:before {
      top: 26px; } }
  @media (max-width: 575.98px) {
    .projects .ordered-list__counter:before {
      top: 16px;
      left: calc(50% - 122px); } }

.projects__paragraph {
  max-width: 420px;
  color: #262e39;
  font-family: "Circe", sans-serif;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.41; }
  @media (max-width: 991.98px) {
    .projects__paragraph {
      max-width: 100%; } }
  @media (max-width: 575.98px) {
    .projects__paragraph {
      text-align: center; } }

.how-it-works {
  position: relative;
  overflow: hidden;
  padding-top: 112px;
  padding-bottom: 110px;
  background-color: #262e39; }
  @media (max-width: 767.98px) {
    .how-it-works {
      background-image: radial-gradient(circle at 50% 80%, rgba(38, 46, 57, 0.7) 5%, #262e39 40%), url("../assets/imgs/how-it-works-img.jpg");
      background-size: 100%, 700px;
      background-repeat: no-repeat;
      background-position: center bottom; } }
  .how-it-works__heading {
    margin-top: 9px; }
    @media (max-width: 767.98px) {
      .how-it-works__heading {
        margin-bottom: 60px;
        margin-top: 0;
        padding-left: 47px; } }
  .how-it-works .ordered-list__counter:before {
    left: -62px;
    top: -7px;
    background-color: #3c434d; }
    @media (max-width: 767.98px) {
      .how-it-works .ordered-list__counter:before {
        left: -23px; } }
  .how-it-works__img {
    position: absolute;
    top: 96px;
    right: 104px;
    width: 705px;
    height: 579px;
    background-image: url("../assets/imgs/how-it-works-img.jpg");
    background-size: 705px 579px; }
    @media (max-width: 767.98px) {
      .how-it-works__img {
        display: none; } }
  .how-it-works__list {
    margin: 0;
    padding: 0;
    padding-top: 6px;
    padding-left: 10px;
    list-style: none; }
    @media (max-width: 767.98px) {
      .how-it-works__list-item {
        padding-left: 40px; } }
    .how-it-works__list-item:not(:last-of-type) {
      margin-bottom: 50px; }
    .how-it-works__list-heading {
      font-size: 20px;
      line-height: 100%;
      font-weight: bold;
      margin-bottom: 14px; }
  .how-it-works__paragraph {
    font-size: 16px;
    line-height: 1.8; }

.features {
  padding-top: 127px;
  padding-bottom: 216px;
  background-color: #f1f6f9;
  position: relative; }
  @media (max-width: 1199.98px) {
    .features {
      padding-bottom: 125px; } }
  .features:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 54%;
    bottom: 0;
    left: 0;
    background-color: #262e39; }
  .features__heading {
    margin-bottom: 93px;
    line-height: 100%;
    color: #262e39; }
  .features__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    @media (max-width: 1199.98px) {
      .features__list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
    .features__list li {
      background-color: #fff;
      width: 31.666%; }
      @media (max-width: 1199.98px) {
        .features__list li {
          width: 45%;
          margin: 10px; } }
      @media (max-width: 767.98px) {
        .features__list li {
          width: 75%; } }

.footer {
  position: relative;
  z-index: 1;
  padding-top: 69px;
  padding-bottom: 77px;
  background-color: #262e39; }
  @media (max-width: 1199.98px) {
    .footer {
      padding-top: 50px;
      padding-bottom: 25px; } }
  .footer:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .25;
    background-image: url("../assets/imgs/footer-bg.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 1440px; }
    @media (max-width: 991.98px) {
      .footer:before {
        background-size: cover;
        background-position: 60% 100%; } }
  .footer__lang-switch .lang-switch__item:first-of-type {
    padding-left: 0; }
  .footer__form .form__heading {
    margin-bottom: 45px; }
  .footer__paragraph {
    margin: 0;
    padding-left: 97px;
    padding-top: 22px; }
    @media (max-width: 991.98px) {
      .footer__paragraph {
        padding-left: 0;
        padding-top: 0;
        margin-bottom: 50px;
        text-align: center; } }
    .footer__paragraph-line {
      display: block;
      font-size: 16px;
      line-height: 36px; }
      @media (max-width: 991.98px) {
        .footer__paragraph-line {
          display: inline; } }
    .footer__paragraph-icon {
      display: block;
      height: 67px;
      width: 51px;
      background-image: url("../assets/imgs/footer-icon-shield.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto;
      margin-bottom: 25px; }
      @media (max-width: 991.98px) {
        .footer__paragraph-icon {
          margin-right: auto;
          margin-left: auto; } }
  .footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 103px; }
    @media (max-width: 767.98px) {
      .footer__block {
        margin-top: 50px; } }
  .footer__copyright {
    font-size: 16px; }
